
<!--Jumbotron at the top of the page-->

<div class="jumbotron text-center">
  <h1 class="display-4">Burger City</h1>
  <p class="lead">America's finest purveyor of digital burgerization</p>
  <hr class="my-4">
  <p>At Burger City, you can create new burgers and then virtually devour them--all with a click of the mouse!</p>
  </p>
</div>

<!--The first burger section on the left, where the created and undevoured burgers are displayed-->

<div class="container">
  <div class="row">
    <div class="col-4">
        {{#each burgers}}
          {{#unless devoured}}
          <div class="card p-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.burger}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Burger Database ID: {{this.id}}</h6>
              <p>This looks delicious!!!</p>
              <button name="burger" data-burgerid="{{this.id}}" value="{{this.id}}" class="devburger" type="submit">Devour the burger!</button>
            </div>
          </div>
          {{/unless}}
        {{/each}}
    </div>

  <!--Form to create a new burger-->

  <div class="col-3 p-3">
    <h5>Name and create a new burger!</h2>
    <form action="/" method="POST">
      <textarea type="text" name="burger"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

  <!--The right column where the devoured burgers are displayed-->

  <div class="col-4">
      {{#each burgers}}
        {{#if devoured}}
          <div class="card p-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.burger}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Burger Database ID: {{this.id}}</h6>
              <p>You ate this one!!!</p>
              <button name="burger" data-burgerid="{{this.id}}" value="{{this.id}}" class="createburger" type="submit">Recreate this one!</button>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>


  </div>
</div>


<!--Beginning of javascript-->
<script>


  //Button to devour a specific burger
	$(".devburger").on("click", function(event) {
    event.preventDefault();
  	//console.log("clicked")

    var id = $(this).val();	
    console.log(id);

    var nowDevoured = {
      devoured: true
    };
	  //console.log(nowDevoured.devoured)

    // Send the PUT request.
    $.ajax("/" + id, {
      type: "PUT",
      data: nowDevoured
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  //Button to recreate a burger once it's been devoured
  $(".createburger").on("click", function(event) {
    event.preventDefault();
	  //console.log("clicked")

    var id = $(this).val();	
  	//console.log(id);

    var nowDevoured = {
      devoured: false
    };
	  //console.log(nowDevoured.devoured)

    $.ajax("/" + id, {
      type: "PUT",
      data: nowDevoured
    }).then(
      function() {
        console.log("updated id ", id);
        location.reload();
      }
    );
  });

</script>

